@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;

  --font-sans: "Vazirmatn", sans-serif;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
