@import "tailwindcss";

@layer base {
  :root {
    /* Primary */
    --primary: #007bff;
    --primary-hover: #075cd9;
    --on-primary: #ffffff;
    --nav-hover-bg: #f5faff;
    --theme-btn-active: #e2e8f0;
    --theme-btn-inactive: #f1f5f9;

    /* Background & Surface */
    --background: #ffffff;
    --on-background: #191c1e;
    --surface: #ffffff;
    --surface-primary: #ffffff;

    /* Text */
    --text-primary: #242424;
    --text-secondary: #7d7d7f;
    --nav-text: #525252;

    /* Priority */
    --high: #ff5f37;
    --medium: #ffaf37;
    --low: #11a483;

    /* Badge */
    --high-bg: #ffe2db;
    --medium-bg: #ffefd6;
    --low-bg: #c3fff1;

    /* Status */
    --success: #11a483;
    --error: #ff5f37;
    --warning: #ffaf37;

    /* border */
    --border: #e9e9e9;
    --border-dashed: #cccccc;

    /* Neutral */
    --neutral-1: #ffffff;
    --neutral-2: #fefefe;
    --neutral-3: #f5f6f8;
    --neutral-4: #e1e0e5;
    --neutral-5: #c8c7cb;
    --neutral-6: #afaeb2;
    --neutral-7: #7d7d7f;
    --neutral-8: #646466;
    --neutral-9: #323233;
    --neutral-10: #000000;
  }

  .dark {
    /* Primary */
    --primary: #3a86f8;
    --primary-hover: #6ba4fa;
    --on-primary: #ffffff;
    --nav-hover-bg: #041933;
    --theme-btn-active: #002247;
    --theme-btn-inactive: #0c1b31;

    /* Background & Surface */
    --background: #040810;
    --on-background: #e6e9ef;
    --surface: #091120;
    --surface-primary: #060c18;

    /* Text */
    --text-primary: #ffffff;
    --text-secondary: #7d7d7f;
    --nav-text: #ffffff;

    /* Priority */
    --high: #ff5f37;
    --medium: #ffaf37;
    --low: #11a483;

    /* Status */
    --success: #11a483;
    --error: #ff5f37;
    --warning: #ffaf37;

    /* border */
    --border: #323233;
    --border-dashed: #4b5563;

    /* Neutral */
    --neutral-1: #000000;
    --neutral-2: #323233;
    --neutral-3: #646466;
    --neutral-4: #7d7d7f;
    --neutral-5: #afaeb2;
    --neutral-6: #c8c7cb;
    --neutral-7: #e1e0e5;
    --neutral-8: #f5f6f8;
    --neutral-9: #fefefe;
    --neutral-10: #ffffff;
  }
}

@theme {
  /* Fonts */
  --font-sans: "Vazirmatn", sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Colors */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-on-primary: var(--on-primary);
  --color-nav-hover-bg: var(--nav-hover-bg);
  --color-theme-btn-active: var(--theme-btn-active);
  --color-theme-btn-inactive: var(--theme-btn-inactive);

  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-surface: var(--surface);
  --color-surface-primary: var(--surface-primary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-nav-text: var(--nav-text);

  --color-high: var(--high);
  --color-medium: var(--medium);
  --color-low: var(--low);

  --color-high-bg: var(--high-bg);
  --color-medium-bg: var(--medium-bg);
  --color-low-bg: var(--low-bg);

  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);

  --color-border: var(--border);
  --color-border-dashed: var(--border-dashed);

  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-6: var(--neutral-6);
  --color-neutral-7: var(--neutral-7);
  --color-neutral-8: var(--neutral-8);
  --color-neutral-9: var(--neutral-9);
  --color-neutral-10: var(--neutral-10);

  /* Font Sizes */
  --text-regular-20: 20px;
  --text-regular-18: 18px;
  --text-regular-16: 16px;
  --text-regular-15: 15px;
  --text-regular-14: 14px;
  --text-regular-13: 13px;
  --text-regular-12: 12px;
  --text-regular-11: 11px;
  --text-regular-10: 10px;

  --text-medium-28: 28px;
  --text-medium-24: 24px;
  --text-medium-20: 20px;
  --text-medium-18: 18px;
  --text-medium-16: 16px;
  --text-medium-15: 15px;
  --text-medium-14: 14px;
  --text-medium-13: 13px;
  --text-medium-12: 12px;
  --text-medium-11: 11px;
  --text-medium-10: 10px;

  --text-bold-42: 42px;
  --text-bold-36: 36px;
  --text-bold-32: 32px;
  --text-bold-28: 28px;
  --text-bold-24: 24px;
  --text-bold-20: 20px;
  --text-bold-18: 18px;
  --text-bold-16: 16px;
  --text-bold-14: 14px;
  --text-bold-13: 13px;
  --text-bold-12: 12px;
  --text-bold-11: 11px;
  --text-bold-10: 10px;

  --text-semibold-42: 42px;
  --text-semibold-36: 36px;
  --text-semibold-32: 32px;
  --text-semibold-28: 28px;
  --text-semibold-24: 24px;
  --text-semibold-20: 20px;
  --text-semibold-18: 18px;
  --text-semibold-16: 16px;
  --text-semibold-14: 14px;
  --text-semibold-13: 13px;
  --text-semibold-12: 12px;
  --text-semibold-11: 11px;
  --text-semibold-10: 10px;

  --text-display-80: 80px;
  --text-display-72: 72px;
  --text-display-64: 64px;
  --text-display-56: 56px;
  --text-display-48: 48px;
  --text-display-40: 40px;
  --text-display-36: 36px;
  --text-display-32: 32px;
  --text-display-28: 28px;
  --text-display-24: 24px;
}
@layer utilities {
  .theme-btn-wrapper {
    background-color: var(--theme-btn-inactive);
    border-radius: 8px;
    padding: 4px;
    gap: 4px;
    display: flex;
    margin-bottom: 1rem;
  }
  .theme-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    transition: all 0.2s;
    color: var(--neutral-6);
  }
  .theme-btn:hover {
    background-color: var(--theme-btn-active);
    color: var(--text-primary);
  }
  .theme-btn.active {
    background-color: var(--theme-btn-active);
    color: var(--text-primary);
  }
  .theme-btn span {
    font-size: 14px;
    font-weight: 600;
    color: inherit;
  }
  .theme-btn svg {
    width: 16px;
    height: 16px;
    color: inherit;
  }
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../assets/fonts/Vazirmatn-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
